# Data Preprocessing  
## Import  
## Check NA Value and Fill Missing Value  
## One-Hot Encoding  
## Normalization

## Import and Check

In [5]:
import numpy as np
import pandas as pd
from datetime import datetime
import tqdm

In [ ]:
root = "E:\Dataset\MCM\\2021_ICM_Problem_D_Data"
data = pd.read_csv(root+"\\data_by_artist.csv", encoding='UTF-8')
data.head(10)

In [ ]:
data.info()

In [ ]:
data.describe()

In [ ]:
data.isnull().sum()

## One-Hot Encoding  
### Implement one-hot encoding manaully.

In [ ]:
from sklearn import preprocessing
from datetime import datetime

In [ ]:
data.loc[0]

In [ ]:
test_df = pd.DataFrame()
df = pd.DataFrame()
start_time = datetime.now()
for i in range(len(data)):
    df = data.loc[i]

    df['is_C']     = (0.5 if df.key == 0 else 0)
    df['is_C#/Db'] = (0.5 if df.key == 1 else 0)
    df['is_D']     = (0.5 if df.key == 2 else 0)
    df['is_D#/Eb'] = (0.5 if df.key == 3 else 0)
    df['is_E']     = (0.5 if df.key == 4 else 0)
    df['is_F']     = (0.5 if df.key == 5 else 0)
    df['is_F#/Gb'] = (0.5 if df.key == 6 else 0)
    df['is_G']     = (0.5 if df.key == 7 else 0)
    df['is_G#/Ab'] = (0.5 if df.key == 8 else 0)
    df['is_A']     = (0.5 if df.key == 9 else 0)
    df['is_A#/Bb'] = (0.5 if df.key == 10 else 0)
    df['is_B']     = (0.5 if df.key == 11 else 0)

    test_df = pd.concat([test_df, df], axis=1)
    if i % 500 == 0:
        print(i, datetime.now() - start_time)

In [ ]:
test_df = test_df.transpose()
test_df.head(10)

In [ ]:
data = test_df
data = data.drop(['key'], axis=1)
data.info()

In [ ]:
filename = 'FullMusicData.csv'
data.to_csv(root + '\\' + filename, index=False)

## Normalization

In [ ]:
data = pd.read_csv(root + '\\' + filename)
data.head(10)

In [ ]:
data.info()

In [ ]:
data = data.drop(['duration_ms', 'popularity', 'year'],axis=1)
data.head(10)

In [ ]:
filename = 'CharacOnly.csv'
data.to_csv(root + '\\' + filename, index=False)

In [ ]:
def MinMaxScale(attributeName):
    a = min(data[attributeName])
    b = max(data[attributeName])
    for i in range(len(data)):
        data[attributeName][i] = (data[attributeName][i] - a) / (b - a) 

def ZscoreScale(attributeName):
    tmp = np.array(data[attributeName])
    tmp = (tmp - tmp.mean()) / tmp.std()
    data[attributeName] = tmp

In [ ]:
filename = 'CharacOnly.csv'
root = "E:\Dataset\MCM\\2021_ICM_Problem_D_Data"
data = pd.read_csv(root + '\\' + filename, encoding='UTF-8')
start_time = datetime.now()

attriNameList = ['danceability', 'energy', 'valence', 'tempo', 'loudness',
                'acousticness', 'instrumentalness', 'liveness', 'speechiness']
start_time = datetime.now()
for attri in attriNameList:
    ZscoreScale(attri)
    print(attri, datetime.now() - start_time)

data.head()

In [ ]:
filename = 'NormalCharacData2.csv'
data.to_csv(root + '\\' + filename, index=False)

In [ ]:
data = pd.read_csv("E:\Dataset\MCM\\2021_ICM_Problem_D_Data" + "\\NormalCharacData.csv", encoding='UTF-8')
data.head(5)

In [ ]:
data.info()

In [ ]:
std_list = []
ind = [2, 3, 4, 5, 6, 8, 9, 10, 11]
for f in ind:
    df = data.iloc[:, f]
    array = np.array(df)
    std_list.append(np.std(array))
std_list

In [ ]:
array = np.array(std_list)
mean = array.mean()
mean

In [ ]:
ind = [13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]
for f in ind:
    df = data.iloc[:, f]
    array = np.array(df)
    array = array * mean
    data.iloc[:, f] = array

data.head(5)

In [ ]:
array = np.array(data['mode'])
array = array * mean
data.iloc[:, 7] = array

In [ ]:
data.loc[0]

In [ ]:
data = data.drop(['explicit'], axis=1)

In [ ]:
data.to_csv("E:\Dataset\MCM\\2021_ICM_Problem_D_Data" + "\\NormalCharacData.csv", encoding='UTF-8', index=False)

In [ ]:
data = pd.read_csv("E:\Dataset\MCM\\2021_ICM_Problem_D_Data" + "\\NormalCharacData.csv", encoding='UTF-8')
data.info()

In [ ]:
matlab_data = data.drop(['artist_names', 'artists_id'], axis=1)
matlab_data.to_csv("E:\Dataset\MCM\\2021_ICM_Problem_D_Data" + "\\MatlabPCAData.csv", encoding='UTF-8', index=False)

## For 'data_by_year.csv;

In [3]:
data = pd.read_csv("E:\Dataset\MCM\\2021_ICM_Problem_D_Data" + "\\data_by_year.csv", encoding='UTF-8')
data.head(5)

,year,danceability,energy,valence,tempo,loudness,mode,key,acousticness,instrumentalness,liveness,speechiness,duration_ms,popularity
0,1921,0.425661,0.236784,0.425495,100.397758,-17.095437,1,7,0.895823,0.322330,0.215814,0.077258,229911.9141,0.351562
1,1922,0.480000,0.237026,0.534056,101.376139,-19.179958,1,10,0.939236,0.440470,0.238647,0.115419,167904.5417,0.138889
2,1923,0.568462,0.246936,0.624788,112.456598,-14.373882,1,0,0.976329,0.401932,0.236656,0.098619,178356.3018,5.727811
3,1924,0.548654,0.347033,0.668574,120.653359,-14.202304,1,10,0.935575,0.583955,0.237875,0.090210,188461.6498,0.603376
4,1925,0.571890,0.264373,0.616430,115.671715,-14.516707,1,5,0.965422,0.408893,0.243094,0.115457,184130.6996,2.707224

In [6]:
tmp_df = pd.DataFrame()
df = pd.DataFrame()
start_time = datetime.now()
for i in range(len(data)):
    df = data.loc[i]

    df['is_C']     = (1 if df.key == 0 else 0)
    df['is_C#/Db'] = (1 if df.key == 1 else 0)
    df['is_D']     = (1 if df.key == 2 else 0)
    df['is_D#/Eb'] = (1 if df.key == 3 else 0)
    df['is_E']     = (1 if df.key == 4 else 0)
    df['is_F']     = (1 if df.key == 5 else 0)
    df['is_F#/Gb'] = (1 if df.key == 6 else 0)
    df['is_G']     = (1 if df.key == 7 else 0)
    df['is_G#/Ab'] = (1 if df.key == 8 else 0)
    df['is_A']     = (1 if df.key == 9 else 0)
    df['is_A#/Bb'] = (1 if df.key == 10 else 0)
    df['is_B']     = (1 if df.key == 11 else 0)

    tmp_df = pd.concat([tmp_df, df], axis=1)

0 0:00:00.020908

In [7]:
data.loc[0]

year                  1921.000000
danceability             0.425661
energy                   0.236784
valence                  0.425495
tempo                  100.397758
loudness               -17.095437
mode                     1.000000
key                      7.000000
acousticness             0.895823
instrumentalness         0.322330
liveness                 0.215814
speechiness              0.077258
duration_ms         229911.914100
popularity               0.351562
Name: 0, dtype: float64

In [9]:
tmp_df.head(5)

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
year,1921.000000,1922.000000,1923.000000,1924.000000,1925.000000,1926.000000,1927.000000,1928.000000,1929.000000,1930.000000,...,2011.000000,2012.000000,2013.000000,2014.000000,2015.000000,2016.000000,2017.000000,2018.000000,2019.000000,2020.000000
danceability,0.425661,0.480000,0.568462,0.548654,0.571890,0.558295,0.649960,0.529696,0.647005,0.510382,...,0.559822,0.571695,0.578874,0.589574,0.591008,0.599976,0.612286,0.664930,0.644215,0.673077
energy,0.236784,0.237026,0.246936,0.347033,0.264373,0.239195,0.256159,0.207143,0.240513,0.327300,...,0.671269,0.669811,0.656467,0.653497,0.633499,0.592877,0.586739,0.590591,0.578796,0.611914
valence,0.425495,0.534056,0.624788,0.668574,0.616430,0.495961,0.660659,0.492954,0.638208,0.618458,...,0.479515,0.474657,0.467244,0.464599,0.443944,0.430769,0.414465,0.447141,0.465856,0.482755
tempo,100.397758,101.376139,112.456598,120.653359,115.671715,108.496573,114.611465,106.195246,111.353988,110.214356,...,122.399305,122.099837,120.784474,122.584669,119.696105,119.070344,116.840277,122.004325,118.868163,121.228704

In [10]:
tmp_df = tmp_df.transpose()

In [11]:
tmp_df.loc[0]

year                  1921.000000
danceability             0.425661
energy                   0.236784
valence                  0.425495
tempo                  100.397758
loudness               -17.095437
mode                     1.000000
key                      7.000000
acousticness             0.895823
instrumentalness         0.322330
liveness                 0.215814
speechiness              0.077258
duration_ms         229911.914100
popularity               0.351562
is_C                     0.000000
is_C#/Db                 0.000000
is_D                     0.000000
is_D#/Eb                 0.000000
is_E                     0.000000
is_F                     0.000000
is_F#/Gb                 0.000000
is_G                     1.000000
is_G#/Ab                 0.000000
is_A                     0.000000
is_A#/Bb                 0.000000
is_B                     0.000000
Name: 0, dtype: float64

In [16]:
data = tmp_df.drop(['key'], axis=1)
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100 entries, 0 to 99
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   year              100 non-null    float64
 1   danceability      100 non-null    float64
 2   energy            100 non-null    float64
 3   valence           100 non-null    float64
 4   tempo             100 non-null    float64
 5   loudness          100 non-null    float64
 6   mode              100 non-null    float64
 7   acousticness      100 non-null    float64
 8   instrumentalness  100 non-null    float64
 9   liveness          100 non-null    float64
 10  speechiness       100 non-null    float64
 11  duration_ms       100 non-null    float64
 12  popularity        100 non-null    float64
 13  is_C              100 non-null    float64
 14  is_C#/Db          100 non-null    float64
 15  is_D              100 non-null    float64
 16  is_D#/Eb          100 non-null    float64
 17  is_E              100 non-null    float64
 18  is_F              100 non-null    float64
 19  is_F#/Gb          100 non-null    float64
 20  is_G              100 non-null    float64
 21  is_G#/Ab          100 non-null    float64
 22  is_A              100 non-null    float64
 23  is_A#/Bb          100 non-null    float64
 24  is_B              100 non-null    float64
dtypes: float64(25)
memory usage: 25.3 KB

In [14]:
def MinMaxScale(attributeName):
    a = min(data[attributeName])
    b = max(data[attributeName])
    for i in range(len(data)):
        data[attributeName][i] = (data[attributeName][i] - a) / (b - a) 

def ZscoreScale(attributeName):
    tmp = np.array(data[attributeName])
    tmp = (tmp - tmp.mean()) / tmp.std()
    data[attributeName] = tmp

In [17]:
start_time = datetime.now()

attriNameList = ['danceability', 'energy', 'valence', 'tempo', 'loudness',
                'acousticness', 'instrumentalness', 'liveness', 'speechiness', 'duration_ms', 'popularity']
start_time = datetime.now()
for attri in attriNameList:
    MinMaxScale(attri)
    print(attri, datetime.now() - start_time)

data.head()

danceability 0:00:00.019592
energy 0:00:00.035550
valence 0:00:00.046521
tempo 0:00:00.058488
loudness 0:00:00.066466
acousticness 0:00:00.075441
instrumentalness 0:00:00.084418
liveness 0:00:00.093394
speechiness 0:00:00.102372
duration_ms 0:00:00.114339
popularity 0:00:00.124312

,year,danceability,energy,valence,tempo,loudness,mode,acousticness,instrumentalness,liveness,...,is_D,is_D#/Eb,is_E,is_F,is_F#/Gb,is_G,is_G#/Ab,is_A,is_A#/Bb,is_B
0,1921.0,0.082157,0.066466,0.175866,0.000000,0.166953,1.0,0.892317,0.522589,0.500619,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,1922.0,0.283739,0.066962,0.543930,0.042065,0.000000,1.0,0.950385,0.738170,0.735560,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1923.0,0.611905,0.087209,0.851547,0.518458,0.384927,1.0,1.000000,0.667847,0.715068,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1924.0,0.538425,0.291720,1.000000,0.870869,0.398669,1.0,0.945488,1.000000,0.727611,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1925.0,0.624623,0.122834,0.823213,0.656688,0.373488,1.0,0.985411,0.680549,0.781311,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [18]:
data.to_csv("E:\Dataset\MCM\\2021_ICM_Problem_D_Data" + "\\NormalYearData.csv", encoding='UTF-8', index=False)